:root {
  --primary-color: #ffff00;
  --overlay-color: rgba(24, 39, 51, 0.95);
  --menu-speed: 0.75s;
}

* {
  color: black;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "YakuHanJP", "OptimaLTStd", "Yu Gothic", YuGothic,
    "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
  display: flex;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0.3rem;
}

.showcase {
  background-color: rgba(24, 39, 51, 0.65);
  height: 100vh;
  position: relative;

  & .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }

  & h1 {
    font-size: 4rem;
    color: #fff;
  }

  & p {
    font-size: 1.3rem;
    color: #fff;
  }
}

.showcase::before {
  content: "";
  background-image: url(./images/bg01.png);
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.btn {
  display: inline-block;
  border: none;
  color: #fff;
  background-color: var(--primary-color);
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
  transition: all 0.4s ease-in;

  &:hover {
    opacity: 0.7;
    transform: scale(1.1);
  }
}

// Menu
.menu-wrap {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  & .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 50px;
    height: 50px;
    opacity: 0;
    cursor: pointer;

    // Change bg color and text color
    &:checked .hamburger {
      background-color: #fff;
      color: var(--primary-color);
    }

    // Show menu
    &:checked ~ .menu {
      visibility: visible;

      & > div {
        transform: scale(1);
        transition-duration: var(--menu-speed);

        & > div {
          opacity: 1;
          transition: opacity 0.4s ease;
        }
      }
    }

    // Rotate on hover when checked
    &:checked:hover + .hamburger > div {
      transform: rotate(225deg);
    }

    // Toggler animate
    &:checked + .hamburger > div {
      transform: rotate(135deg);

      // Turn lines into X
      &::after,
      &::before {
        top: 0;
        transform: rotate(90deg);
      }
    }
  }

  & .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;

    // Hamburger Line
    & > div {
      position: relative;
      width: 100%;
      height: 2px;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.4s ease;

      // Top and bottom lines
      &::before,
      &::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background-color: inherit;
      }

      // Moves line down
      &::after {
        top: 10px;
      }
    }
  }

  & .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    overflow: hidden;

    & > div {
      background-color: var(--primary-color);
      //   border-radius: 50%;
      width: 200vh;
      height: 200vh;
      display: flex;
      flex: none;
      align-items: center;
      justify-content: center;
      transform: scale(0);
      transition: all 0.4s ease;

      & > div {
        text-align: left;
        max-width: 90vh;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;

        & > ul > li {
          color: #fff;
          list-style: none;
          font-size: 2.2rem;
          padding: 1rem;
          transition: all 0.4s ease;

          & .arrow {
            position: relative;
            display: inline-block;
            padding: 0;
            margin-right: 20px;
            color: #fff;
            vertical-align: middle;
            font-size: 3rem;
            transform: translateX(-300px);
            transition: all 1s ease;
            opacity: 0;
          }

          &:hover {
            transform: scale(1.5);

            & .arrow {
              display: inline-block;
              opacity: 1;
              transform: translateX(0);
            }
          }
        }
      }
    }
  }
}

// Works and Business sectino
.works-and-business-csection {
  display: block;
}
.works-and-business-container {
  background-color: var(--primary-color);
  width: 100%;
  height: 50vh;
  display: block;

  & .top-works-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    line-height: 3rem;

    & p {
      font-size: 2rem;
      color: #fff;
    }
  }

  & .border {
    border: 1px solid gray;
    height: 200px;
    margin-top: 110px;
    opacity: 0.3;
  }
}

.items-container {
  display: flex;
  flex-wrap: wrap;

  & .single-item {
    width: 33%;
    height: 330px;
    transition: all 0.3s ease-in;
    position: relative;
    padding: 0 2rem;
    text-align: center;

    & .back-item {
      opacity: 0;
    }

    &:hover {
      background-color: var(--primary-color);
      transform: scale(1.07);

      & .works-img {
        opacity: 0;
      }

      & .back-item {
        opacity: 3;

        & p:first-child {
          font-size: 2rem;
          margin-top: 5rem;
          padding-left: 1rem;
          color: #fff;
        }

        & p:last-child {
          padding: 0 2rem;
          color: #fff;
        }
      }

      & .works-img-container > p {
        display: none;
      }
    }

    & .works-img-container {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      & .works-img {
        width: 70%;
      }

      & > p {
        color: black;
        text-align: center;
      }
    }
  }
}

.service-section {
  margin-top: 850px;
  height: 500px;
  // background-color: var(--primary-color);

  & .service-container {
    margin: 0 5rem;

    & .single-service-container:nth-child(2n) {
      margin-top: 110px;
    }

    & p {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 5rem;
    }
  }

  & .services-list-top,
  & .services-list-bottom {
    display: flex;

    .single-service-container {
      width: 50%;
      padding: 0 1rem;
      position: relative;

      & .single-service-content {
        position: relative;

        & .service-img-container {
          transition: all 0.4s ease-in;
        }

        & img {
          width: 100%;
          height: 330px;
          transition: all 0.4s ease;
        }

        & .service-title {
          position: absolute;
          top: 0;
          left: 2rem;
          color: #fff;
        }

        & .service-description {
          position: absolute;
          color: white;
          top: 40%;
          padding: 0 3rem;
          font-size: 1.6rem;
          opacity: 0;
          width: 100%;
          height: 0%;
          transition: all 1s ease;
        }

        &:hover {
          & img {
            opacity: 0.7;
            transform: scale(1.1);
          }

          & .service-description {
            opacity: 1;
            z-index: 2;
            width: 100%;
            height: 100%;
          }

          & .service-title {
            z-index: 2;
          }

          & .single-service-bg {
            width: 100%;
          }
        }
      }

      & .single-service-bg {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(24, 39, 51, 0.8);
        width: 0%;
        height: 330px;
        transition: all 0.8s ease;
      }
    }
  }
}

// OUR FEATURES SECTION
.our-features-sec {
  margin-top: 700px;

  & .features-title {
    font-size: 2rem;
    text-align: center;
  }

  & .features-list-container {
    padding: 0 3rem;

    & .single-feature {
      display: flex;
      margin-top: 13rem;

      & .feature-img-container {
        width: 50%;
        text-align: center;

        & .feature-img {
          width: 80%;
          padding: 0 3rem;
          margin: auto;
          transform: translateY(100px);
          transition: all 1s ease;
          opacity: 0;
        }
      }

      & .feature-details {
        width: 50%;
        padding-right: 3rem;
        padding-left: 4rem;
        position: relative;
        margin: 0 auto;

        & p:nth-child(1) {
          color: #fff;
          z-index: 2;
        }

        &::before {
          content: "";
          background-color: var(--primary-color);
          width: 50%;
          height: 25px;
          opacity: 0.8;
          position: absolute;
          top: 0;
          left: 60px;
          bottom: 0;
          right: 0;
          z-index: -1;
        }

        & p:nth-child(2) {
          font-size: 1.8rem;
          margin: 1rem 0 2rem 0;
        }
      }
    }
  }
}

.show-img {
  transform: translateY(0%) !important;
  opacity: 1 !important;
}

// CONTACT SECTION
.contact-content {
  text-align: center;
  margin-top: 15rem;
}

.contact-btn {
  border: 1px solid black;
  padding: 3rem 12rem;
  font-size: 1.3rem;
  position: relative;
  transition: all 0.3s ease;
  // transition-delay: color 1s;

  & .contact-btn-inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--primary-color);
    width: 0%;
    transition: all 0.5s ease;
  }

  &:hover {
    transform: scale(1.1);
    color: #fff;
    z-index: 1;

    & .contact-btn-inner {
      width: 100%;
      z-index: -1;
    }
  }
}

// BACK TO TOP BTN
.backtotop {
  width: 100%;
  height: 30px;
  margin-top: 10rem;
  margin-bottom: 3rem;
  text-align: center;

  & .backtotop-btn {
    width: 50px;
    height: 50px;
    margin: 0 auto;

    &:hover {
      cursor: pointer;
      transform: scale(0.8);
    }

    &::after {
      content: "";
      display: block;
      border: 1px solid black;
      width: 0%;
      height: 50px;
      margin: 0 auto;
    }
  }
}

// FOOTER SECTION
footer {
  height: 350px;
  background-color: var(--primary-color);
  padding: 0 3rem;
  position: relative;

  & .footer-title {
    margin-bottom: 1rem;
    position: absolute;
    bottom: 70px;
    font-size: 1.3rem;
    color: #fff;
  }

  & .footer-links {
    margin-bottom: 3rem;
    position: absolute;
    bottom: 0;

    & .footer-link {
      padding: 0 1rem;
      transition: text-decoration 3s ease;

      &:hover {
        opacity: 0.6;
        text-decoration: line-through;
      }
    }
  }

  & .sns-container {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 3rem;

    & .sns-item {
      padding: 0 1rem;
    }
  }
}



// SCREEN SIZE UNDER 480PX
@media only screen and(max-width: 480px) {
  .showcase {
    height: 70vh;

    & h1 {
      font-size: 2rem;
    }

    & p {
      font-size: 1rem;
      margin: 2rem 0;
    }
  }

  .menu-wrap .menu > div > div ul {
    display: block;

    & li {
      font-size: 1.4rem;
      padding: 0;

      &:hover span{
        display: none;
      }
    }
  }

  .works-and-business-section {
    & .works-and-business-container {
      height: 25vh;

      & .top-works-title {
        height: 95%;

        & p {
          font-size: 1.3rem;
        }
      }
    }

    & hr {
      display: none;
    }
    & .items-container {
      display: block;

      & .works-img-container {
        & p {
          font-size: 0.7rem;
        }
      }

      & .border {
        border: none;
        margin: 0;
      }
      & .single-item {
        margin: 0 !important;
        display: inline-block;
        width: 49%;
        height: 140px;
        max-width: 234px;

        &:hover {
          transform: scale(1.1);
        }

        & .works-img {
          width: 60%;
        }

        & .back-item {
          width: 100%;
          height: 140px;
          margin: 0 !important;
          display: inline-block;

          & p:first-child {
            font-size: 16px;
            width: 100%;
            margin-top: 3rem;
            padding-left: 0;
          }

          & p:nth-child(2) {
            display: none;
          }
        }
      }
    }
  }

  // OUR SERVICES SECTION
  .service-section {
    margin-top: 450px;

    & .service-container {
      margin: 0;

      & p {
        font-size: 1.3rem;
      }

      & .services-list-top,
      .services-list-bottom {
        display: block;

        & .single-service-container {
          width: 100%;
          margin-top: 1rem;

          & .single-service-content {
            &:hover {
              & img {
                transform: scale(1);
              }
            }
          }
        }

        & .service-img-container {
          height: 156px;

          & img {
            height: 156px;
          }
          & .service-description {
            font-size: 1rem;
          }
        }

        & .single-service-bg {
          height: 100%;
        }
      }
    }
  }

  // OUR FEATURES SECTION
  .our-features-sec {
    margin-top: 340px;

    & .our-features-content {
      & .features-title {
        font-size: 1.3rem;
      }

      & .features-list-container {
        padding: 0 1rem;

        & .single-feature {
          margin-top: 2rem;

          & .feature-img {
            padding: 0 0;
            width: 70%;
          }
        }

        & .feature-details {
          padding: 0 0 1rem 0;

          &::before {
            left: 0;
            width: 100%;
          }

          & p:nth-child(1) {
            font-size: 0.7rem;
          }

          & p:nth-child(2) {
            font-size: 1rem;
            margin-bottom: 0;
          }

          & p:nth-child(3) {
            display: none;
          } 
        }
      }
    }
  }
  // CONTACT SECTION
  .contact-content {
    margin-top: 5rem;

    & .contact-btn {
      padding: 0.7rem 4rem;
    }
  }

  // BACK TO TOP BTN
  .backtotop {
    margin-top: 4rem;

    & .backtotop-btn::after {
      height: 35px;
    }
  }

  // FOOTER SECTION
  footer {
    height: 110px;
    padding: 0 1rem;

    & .footer-title {
      margin-bottom: 0;
      bottom: 40px;
    }

    & ul.footer-links {
      margin-bottom: 1rem;

      & .footer-link {
        font-size: 12px;
        padding: 0 3px;
      }
    }

    & .sns-container {
      display: none;
    }
  }
}
